<!DOCTYPE html>
<html>

<head>
   {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="containter-fluid  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.webp" alt="chitransh" class="img-fluid" title="chitransh">
                        </figure>


                   
                        <p> Welcome to chitransh computer</p>
                        <h1> {{errorMsg}}
                             </h1>
                        <a href="/"><button>Go Back</button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>





</html>