<!DOCTYPE html>
<html>

<head>
   {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <div class="containter-fluid  main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="chitransh" class="img-fluid" title="chitransh">
                        </figure>


                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome to weather app</p>
                        <h1> I am a <span class="text_clr">Website Developer</span> and Web Application Developer </h1>
                        <a href="http://www.chitransh.co.in" target="_chitransh"><button>About Me</button></a>

                    </div>

                </div>
            </div>
        </div>
    </div>

   {{>footer}}
</body>





</html>